repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        language: system
        types: [file, python]
      - id: ruff
        name: ruff
        entry: poetry run ruff check
        language: system
        types: [file, python]